<section id="test-info"
         class="container mt-4 mb-4">
               
    <div class="bg-white rounded p-4 shadow-sm mb-3">
      <div id="header"
           class="d-flex flex-row justify-content-between align-items-center">
        <h1>Exame: <%= @test[:token] %></h1>
        <a href="/exames"
           class="btn btn-outline-primary">&larr; Voltar</a>
      </div>
      <hr>
      
      <div class="row">
        <div id="patient-info"
             class="col">
          <h2>Paciente</h2>
          <dl>
            <dt>Nome:</dt>
            <dd><%= @test[:patient][:name] %></dd>
            <dt>E-mail:</dt>
            <dd><%= @test[:patient][:email] %></dd>
            <dt>Nascimento:</dt>
            <dd><%= Date.parse(@test[:patient][:birthdate]).strftime('%d/%m/%Y') %></dd>
          </dl>
        </div>
        
        <div id="doctor-info"
             class="col">
          <h2>Médico</h2>
          <dl>
            <dt>Nome:</dt>
            <dd><%= @test[:doctor][:name] %></dd>
            <dt>CRM:</dt>
            <dd><%= "#{@test[:doctor][:crm]}/#{@test[:doctor][:crm_state]}" %></dd>
          </dl>
        </div>
      </div>
    </div>
    
    <div id="results"
         class="bg-white rounded p-4 shadow-sm">
      <h2>Resultados</h2>
      
      <table class="table table-hover">
        <thead>
          <th>Tipo</th>
          <th>Intervalo</th>
          <th>Resultado</th>
        </thead>
        <tbody>
          <% @test[:tests].each do |t| %>
            <tr>
              <td><%= t[:type] %></td>
              <td><%= t[:range] %></td>
              <td><%= t[:result] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>

<script src="/testScripts.js"></script>